<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170295351994-prcgh5a7uqd3i0p0rdj3eklbdvcllerj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170295351994-prcgh5a7uqd3i0p0rdj3eklbdvcllerj</string>
	<key>API_KEY</key>
	<string>AIzaSyCJyoSro12EX2Iy6Vuhv6JP4i6QI7dCFzk</string>
	<key>GCM_SENDER_ID</key>
	<string>170295351994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.seyicoded.reduxAppMediaPlayer</string>
	<key>PROJECT_ID</key>
	<string>media-player-f2e36</string>
	<key>STORAGE_BUCKET</key>
	<string>media-player-f2e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170295351994:ios:f6d3bca0e4e5a486cdc083</string>
</dict>
</plist>